@PRIMARY_COLOR: #FECD15;
@PRIMARY_GRADIENT: linear-gradient(-90deg, #FED909 0%, #FFD503 100%);
@LINK_COLOR: #F0AF05;
@MALL_PRIMARY_COLOR: #FD5548;
@MALL_PRIMARY_GRADIENT: linear-gradient(45deg, #FD5548 0%, #FB3450 100%);
@PRICE_COLOR: #EB5640;
